# Node.js & pnpm dependencies
/**/node_modules
core/node_modules
ui/node_modules

# TypeScript compiled output
/dist
/build
*.tsbuildinfo

# Database file
*.db
*.db-journal

# Environment variables & Keys
.env
.env.*
!.env.example
/keys
.keys
.key
.py~
*~
Keys/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
hs_err_pid*
replay_pid*

# Operating System files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Unwanted package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
/agents/*
Agents/
/Agents
/.turbo
turbo/*
.turbo
*/.turbo
.turbo/*
*/.turbo/*
,pdf

